Source: libmtcelledit
Section: unknown
Priority: extra
Maintainer: Mark Tyler <marktyler@users.sourceforge.net>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, bison, libmtkit
Standards-Version: 3.9.3
Homepage: http://mtcelledit.sourceforge.net/

Package: libmtcelledit
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: MT Spreadsheet Engine
 .
