Source: mtraft
Section: unknown
Priority: extra
Maintainer: Mark Tyler <marktyler@users.sourceforge.net>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, libmtkit, libmtcelledit, libgtk2.0-dev
Standards-Version: 3.9.3
Homepage: http://mtcelledit.sourceforge.net/

Package: mtraft
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GTK+2 Directory Analysis Tool
 .
