Source: mtutils
Section: unknown
Priority: extra
Maintainer: Mark Tyler <mt@marktyler.org>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, libmtkit
Standards-Version: 3.9.3
Homepage: http://ced.marktyler.org/

Package: mtutils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Command Line Low Level Utils
 .
