Source: mtcedcli
Section: unknown
Priority: extra
Maintainer: Mark Tyler <marktyler@users.sourceforge.net>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, libreadline6-dev, libmtcelledit, libmtcedui, libmtkit
Standards-Version: 3.9.3
Homepage: http://mtcelledit.sourceforge.net/

Package: mtcedcli
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: CLI Spreadsheet
 .
