Source: libmtcedui
Section: unknown
Priority: extra
Maintainer: Mark Tyler <marktyler@users.sourceforge.net>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, libcairo2-dev, libpango1.0-dev, libmtkit, libmtpixy, libmtcelledit
Standards-Version: 3.9.3
Homepage: http://mtcelledit.sourceforge.net/

Package: libmtcedui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: MT Spreadsheet UI Engine
 .
