Source: mtraft-qt4
Section: unknown
Priority: extra
Maintainer: Mark Tyler <mt@marktyler.org>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, libmtkit, libmtcelledit, libqt4-dev, libmtqex4, inkscape
Standards-Version: 3.9.3
Homepage: http://ced.marktyler.org/

Package: mtraft-qt4
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Qt4 Directory Analysis Tool
 .
