Source: mtpixy-qt4
Section: unknown
Priority: extra
Maintainer: Mark Tyler <mt@marktyler.org>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, libqt4-dev, libmtkit, libmtpixy, libmtqex4, inkscape
Standards-Version: 3.9.3
Homepage: http://ced.marktyler.org/

Package: mtpixy-qt4
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Qt4 Pixel GUI
 .
