Source: libmtdatawell
Section: unknown
Priority: extra
Maintainer: Mark Tyler <mt@marktyler.org>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, libmtkit, libmtpixy, libsqlite3-dev, libsndfile1-dev
Standards-Version: 3.9.3
Homepage: https://www.marktyler.org/

Package: libmtdatawell
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: MT Crypto and random data routines
 .
