Source: libmtqex4
Section: unknown
Priority: extra
Maintainer: Mark Tyler <marktyler@users.sourceforge.net>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, libqt4-dev, libmtkit, libmtpixy
Standards-Version: 3.9.3
Homepage: http://mtcelledit.sourceforge.net/

Package: libmtqex4
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Qt4 Dialogs and Utility Functions
 .
