Source: mtcrul-qt5
Section: unknown
Priority: extra
Maintainer: Mark Tyler <mt@marktyler.org>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, qtbase5-dev, libmtkit, libmtpixy, libmtgin, libmtqex5, libsqlite3-dev, mesa-common-dev
Standards-Version: 3.9.3
Homepage: https://www.marktyler.org/

Package: mtcrul-qt5
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Qt5 Mark Tyler's point Cloud RULer
 .
