Source: mtdwutils
Section: unknown
Priority: extra
Maintainer: Mark Tyler <mt@marktyler.org>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, libmtkit, libmtdatawell, libgmp-dev, libmpfr-dev
Standards-Version: 3.9.3
Homepage: https://www.marktyler.org/

Package: mtdwutils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Data Well Utils
 .
