Source: mtpixycli
Section: unknown
Priority: extra
Maintainer: Mark Tyler <mt@marktyler.org>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, libmtkit, libmtpixy, libreadline-dev
Standards-Version: 3.9.3
Homepage: http://ced.marktyler.org/

Package: mtpixycli
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Pixel CLI
 .
