Source: mtcelledit
Section: unknown
Priority: extra
Maintainer: Mark Tyler <marktyler@users.sourceforge.net>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, libgtk2.0-dev, libmtkit, libmtcelledit, libmtcedui, libmtgex, txt2tags
Standards-Version: 3.9.3
Homepage: http://mtcelledit.sourceforge.net/

Package: mtcelledit
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GTK+2 Spreadsheet GUI
 .
