Source: mtcelledit-qt5
Section: unknown
Priority: extra
Maintainer: Mark Tyler <mt@marktyler.org>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, qtbase5-dev, libmtkit, libmtcelledit, libmtpixy, libmtqex5, inkscape
Standards-Version: 3.9.3
Homepage: https://www.marktyler.org/

Package: mtcelledit-qt5
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Qt5 Spreadsheet GUI
 .
