Source: mtraft-qt6
Section: unknown
Priority: extra
Maintainer: Mark Tyler <mt@marktyler.org>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, libmtkit, libmtcelledit, qt6-base-dev, libmtqex6, inkscape
Standards-Version: 3.9.3
Homepage: https://www.marktyler.org/

Package: mtraft-qt6
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Qt6 Directory Analysis Tool
 .
