Source: mteleana-qt4
Section: unknown
Priority: extra
Maintainer: Mark Tyler <marktyler@users.sourceforge.net>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, libqt4-dev, libmtcelledit, libmtqex4, libmtpixy
Standards-Version: 3.9.3
Homepage: http://mtcelledit.sourceforge.net/

Package: mteleana-qt4
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Qt4 General Election Results Analysis Program
 .
