Source: mtnush-qt6
Section: unknown
Priority: extra
Maintainer: Mark Tyler <mt@marktyler.org>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, libmtkit, libmtcelledit, libmtdatawell, libgmp-dev, libmpfr-dev, qt6-base-dev, libmtqex6, inkscape
Standards-Version: 3.9.3
Homepage: https://www.marktyler.org/

Package: mtnush-qt6
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Qt6 Big Number Calculator
 .
