Source: mtcedutils
Section: unknown
Priority: extra
Maintainer: Mark Tyler <mt@marktyler.org>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, libmtkit, libmtpixy, libmtcelledit
Standards-Version: 3.9.3
Homepage: https://www.marktyler.org/

Package: mtcedutils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Command Line Spreadsheet Utils
 .
