Source: mtdatawell-qt4
Section: unknown
Priority: extra
Maintainer: Mark Tyler <mt@marktyler.org>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, libqt4-dev, libmtdatawell, libmtqex4, libmtpixy, libmtkit
Standards-Version: 3.9.3
Homepage: http://ced.marktyler.org/

Package: mtdatawell-qt4
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Qt4 Crypto and Random Data Program
 .
