Source: libmtkit
Section: unknown
Priority: extra
Maintainer: Mark Tyler <marktyler@users.sourceforge.net>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, zlib1g-dev
Standards-Version: 3.9.3
Homepage: http://mtcelledit.sourceforge.net/

Package: libmtkit
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: MT Low level C routines
 .
